#message{
    width: 500px;
    height: 300px;
    z-index: 99;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-150px;
}
.read{
    text-align:center;
    justify-content: center;
    display:flex;
}
.textBox{
    display:flex;
    text-align:center;
    justify-content:center;
}
img{
    height:100%;
    width:100%;
}