#message{
    width: 500px;
    height: 300px;
    z-index: 99;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-150px;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 15px;
    font-weight: 600;
}
.read{
    text-align:center;
    justify-content: center;
    display:flex;
}
.textBox{
    display:flex;
    text-align:center;
    justify-content:center;
}
img{
    height:100%;
    width:100%;
}
.back{
    height:10%;
    position:relative;
}
textarea{
    background:transparent;
    height:95%;
}

#Crosshair{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(228, 92, 13);
    position: absolute;
    z-index: 96;
}